html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #333;
}

header {
  padding-top:10px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.container {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-position: #FFFFFF;
  text-align: center
}

.middle-area {
  margin: 20px auto;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}
h1 {
  color: #DE6F6F;
  font-size: 30px;
  letter-spacing: 4px;
  font-weight: bold;
  text-transform: uppercase;
}
h2 {
  font-size: 15px;
  text-transform: uppercase;
}
small {
  text-align: center;
  padding-bottom: 5px;
  display: block;
}
a {
  font-size: 25px;
  letter-spacing: 0px;
}
a.bubble {
  font-size: 12px;
}
i {
  color: #68c0ef;
  position: absolute;
  right: 20px;
  top: 10px;
}
label {
  display: block;
}
input, button {
  background: rgba(0,0,0,0);
  text-transform: uppercase;
  display: block;
  margin: 10px auto 20px;
  padding: 15px 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  -webkit-transition: border 0.2s linear;
  -moz-transition: border 0.2s linear;
  -ms-transition: border 0.2s linear;
  -o-transition: border 0.2s linear;
  transition: border 0.2s linear;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -ms-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
#login-form {
  background: url('../mapbg.png');
  margin: 0;
  padding: 30px 0px 20px;
  color: #FEFEFE;
}
#login-form input {
  color: #FEFEFE;
}
input:hover {
  border-color: #ddd;
}
input[type="radio"] {
  display: inline-block;
  margin: 5px;
}
input[type="submit"], #login-form input[type=submit] {
  cursor: pointer;
  background: none;
  border-color: #68c0ef;
  color: #68c0ef;
}
input[type="submit"]:hover {
  border-color: #6dccfd;
  color: #6dccfd;
}
button {
  margin: 0;
  cursor: pointer;
  height: 50px;
  border: none;
  width: 100%;
  border-radius: 0px;
  background: #ddd;
  font-size: 12px;
  font-weight: bold;
}
button:hover {
  background: #6dccfd;
}

#map { position:relative; top:0; bottom:0; width: 100%; height:250px; }
#loading {
  visibility: none;
  position: absolute;
  top: 45%;
  text-align: center;
  height: 100%;
  width: 100%;
}