<!doctype html>
<head>
<title>Teller</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/main.css') }}">
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/formatting.js') }}"></script>
<script src="https://cdn.firebase.com/js/client/2.2.3/firebase.js"></script>
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.6/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.6/mapbox.css' rel='stylesheet' />
</head>
<html>
<body>
<div class="container">
  <header><h1><img src="{{ url_for('static', filename='teller.png') }}" width="30"/></h1></header>
  {% block body %}{% endblock %}
</div>
</body>
</html>