{% extends "layout.html" %}
{% block title %}Main{% endblock %}
{% block nav %}
  <a href="/sendmoney"><i class="fa fa-paper-plane-o"></i></a>
{% endblock %}
{% block body %}
<small class="notif">Welcome <em class="phone">{{phone_number}}</em></small>
<small>Balance: ${{balance}}</small>
<div class="middle-area">
  <div id='map'></div>
</div>
<form action="inserttransaction" method="post">
  <label>Amount</label>
  <input type="text" name="amount" size="30" value="{{ request.form.amount }}" placeholder="00.00">
  <input type="radio" name="transaction_type" value="Deposit" checked>Deposit
  <input type="radio" name="transaction_type" value="Withdraw">Withdraw
  <input type="range" min="1" max="20" value="1" step="1" onchange="showValue(this.value)" />
  <span id="range">1</span>
  <div class="actions"><input type="submit" value="Find Transaction"></div>
</form>
<div>
  <form align="right"  method="post" action="">
      <label class="logoutLblPos">
  <input name="submit2" type="submit"  value="log out">
  </label>
 </form>
</div>


<script>
  
function showValue(newValue)
{
	document.getElementById("range").innerHTML=newValue;
}

var phone = $("em.phone").html();
console.log(phone);
var tellerRef = new Firebase("https://teller.firebaseio.com/");
var userRef = tellerRef.child('users/'+phone);
var transRef = tellerRef.child('transactions');
var moveUpdate = true;

var fc

function getgeo(position) {
  var coords = position.coords;
  var latitude = coords.latitude;
  var longitude = coords.longitude;
  var latlongobj = L.latLng(latitude, longitude);
  fc = [latitude, longitude];
  console.log(latitude,longitude);
  marker.setLatLng(latlongobj);
  if (moveUpdate) {
    map.panTo(latlongobj);
    moveUpdate = false;
  }
  userRef.update({
    latitude: latitude,
    longitude: longitude,
  });
}

function getDistance(lat1,lon1,lat2,lon2){
  var R = 6371; // km var 
  dLat = (lat2-lat1).toRad(); 
  var dLon = (lon2-lon1).toRad(); 
  var a = Math.sin(dLat/2) * Math.sin(dLat/2) + Math.cos(lat1.toRad()) * Math.cos(lat2.toRad()) * Math.sin(dLon/2) * Math.sin(dLon/2); 
  var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); 
  var d = R * c; d=(d.toFixed(2)); 
  console.log(d);
  return d }
  
function addOtherFriends() {
  for (var i=0;i<other_markers.length;++i) {
    map.removeLayer(other_markers[i]);
  }
  tellerRef.on("value", function(snapshot) {
    var users = snapshot.val().users;
    for (var key in users) {
      if (key != phone) {
        if ('latitude' in users[key]) {
          var userlat = users[key].latitude;
          var userlong = users[key].longitude;
          var markie_default = L.marker([userlat, userlong], {
            icon: L.mapbox.marker.icon({
              'marker-color': '#f86767'
            }) //default
          });
          var markie_match = L.marker([userlat, userlong], {
            icon: L.mapbox.marker.icon({
              'marker-color': '#84f897'
            }) //default
          });
          var markie = markie_default;
          transRef.on("value", function(snapshot) {
            trans = snapshot.val();
            for (var transkey in trans) {
              if (trans[transkey].from == key) {
                var a = trans[transkey].amt;
                console.log(trans[transkey].to==phone);
                if (getDistance(fc[0], fc[1],userlat,userlong) < document.getElementById("range").innerHTML*1000) {               
                  if (trans[transkey].to == phone) {
                    markie = markie_match;
                  }
                }
                var popup;
                if (a < 0)
                  popup = (key + "<br>deposit: " + Math.abs(a));
                else
                  popup = (key + "<br>withdraw: " + a);
                var link_out = "/sendmoney?to="+trans[transkey].from;
                popup += "<br><a class='bubble' href='"+link_out+"'>Go</a>"
                markie.bindPopup(popup);
              }
            }
          });
          markie.addTo(map);
          other_markers.push(markie);
        }
      }
    }
  });

}
  


L.mapbox.accessToken = 'pk.eyJ1IjoicmF5bW9uZGphY29ic29uIiwiYSI6IlVlWnVITTQifQ.lzpdThXgyxuWTS2WQBTqVg';
var map = L.mapbox.map('map', 'examples.map-h67hf2ic')
  .setView([29, -26], 14);
var marker = L.marker([-73, 40], {
    icon: L.mapbox.marker.icon({
      'marker-color': '#44c6f8'
    })
});

navigator.geolocation.getCurrentPosition(getgeo);
var other_markers = [];
addOtherFriends();
window.setInterval(function() {
  navigator.geolocation.getCurrentPosition(getgeo);
}, 1000);
window.setInterval(function() {
  addOtherFriends();
}, 10000);

marker.addTo(map);
</script>
{% endblock %}
